<% if task.errors.present? %>
  <ul id="error_explanation">
    <% task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: task, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :artist %>
    <%= f.text_field :artist, class: 'form-control mb-2', id: 'task_artist' %>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control mb-2', id: 'task_name' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 5, class: 'form-control mb-2', id: 'task_description' %>
  </div>
  <div class="form-group">
    <%= f.label :image, class: '' %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>
  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>
