  <div class="row bg-warning-subtle rounded-3">
    <div class="row">
      <div class="fs-4 fw-bold my-3", style="width: 230px;">
      登録タイトル一覧</div>
      <%= link_to '新規登録', new_task_path, class: 'btn btn-success btn-sm  rounded-3 mt-3', style: "width: 75px; height: 32px;" %>
    </div>

    <%= search_form_for @q, class: 'mb-5' do |f| %>
      <div class="form-group row">
        <div><%= f.label :artist_cont, 'アーティスト検索', 
          class: 'col-auto px-1 mb-1', style: "font-size: 12px;", 
          for: 'artistSearch' %>
        </div>
        <div class="row">
          <div class="col-3 mb-2" style="width: 300px;">
              <%= f.search_field :artist_cont, 
              class: 'border border-dark-subtle form-control', id: 'artistSearch' %>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div><%= f.label :name_cont, 'タイトル検索', 
          class: 'col-auto px-1 mb-1', style: "font-size: 12px;", 
          for: 'titleSearch' %>
        </div>
        <div class="row">
          <div class="col-3 mb-2" style="width: 300px;">
              <%= f.search_field :name_cont, 
              class: 'border border-dark-subtle form-control', id: 'titleSearch' %>
          </div>
        </div>
      </div>
      <div class="col-1">
        <%= f.submit class: 'btn btn-secondary btn-sm rounded-2',
        style: "--bs-btn-padding-y: .10rem; --bs-btn-font-size: .75rem;" %>
      </div>
      <%#-- <%= link_to '新規登録', new_task_path, class: 'col-auto btn btn-secondary mt-2' %>
    <% end %>

    <%#-- <%= link_to '新規登録', new_task_path, class: 'col-auto btn btn-secondary mb-2' %>

    <div class="mb-3">
      <%= paginate @tasks %>
      <%= page_entries_info @tasks %>
    </div>
  </div>

  <table class="table table-hover mb-3">
    <thead class="thead-default">
      <tr>
        <th><%= Task.human_attribute_name(:artist) %></th>
        <th><%= Task.human_attribute_name(:name) %></th>
        <th><%= Task.human_attribute_name(:created_at) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.artist %></td>
          <td><%= link_to task.name, task %></td>
          <td><%= task.created_at %></td>
          <td>
            <%= link_to '編集', edit_task_path(task), class: 'btn btn-outline-dark btn-sm mr-3' %>
            <%= link_to '削除', task, method: :delete, data: { confirm: "タスク「#{task.name}」を削除します。よろしいですか?" }, class: 'btn btn-outline-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
