<div class="row">
  <div class="mx-2 bg-secondary-subtle rounded-3", style="width: 140px;">
    <div class="col text-center fs-4 fw-bold my-1">詳細</div>
  </div>

  <nav class="justify-content-end mt-2 mb-3">
    <div class="col-1 btn btn-light btn-sm rounded-2", style="width: 60px;">
      <%= link_to '一覧へ', tasks_path, class: 'nav-link' %>
    </div>
  </nav>
</div>

<table class="table table-hover">
  <tbody class="border border-secondary-subtle">
    <tr>
      <th><%= Task.human_attribute_name(:artist) %></th>
      <td><%= @task.artist %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:name) %></th>
      <td><%= @task.name %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:description) %></th>
      <td><%= auto_link(simple_format(h(@task.description), {}, sanitize: false, wrapper_tag: "div")) %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:image) %></th>
      <td><%= image_tag @task.image if @task.image.attached? %></td>
    </tr>
    <%#<tr>
      <th><%= Task.human_attribute_name(:created_at)</th> %>
      <%#<td><%= @task.created_at </td>%>
    <%#</tr>%>
  </tbody>
</table>

<%= link_to '編集', edit_task_path(@task), class: 'btn btn-dark btn-sm mr-3' %>
<%= link_to '削除', @task, method: :delete, data: { confirm: "タスク「#{@task.name}」を削除します。よろしいですか?" }, class: 'btn btn-danger btn-sm' %>
<div class="col mt-3"></div>