<!DOCTYPE html>
<html>
  <head>
    <title>DISCLEAF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'validation' %>
  </head>
  <body>
    <div class="app-title">
      <div class="navbar-bland fs-4", style="width: 230px; margin-left: 8px;">DISC LEAF</div>
    </div>
    <div class="container">
      <% if flash.notice.present? %>
        <div class="alert alert-success"><%= flash.notice %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
